
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    margin-bottom: 50px;
    border: none;
    border-radius: 8px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
/* header styles */
header{
    /* background-color: blanchedalmond */
}
/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    
}
.nav-item{
    list-style:  none;
    margin-right: 30px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-details{
    margin-bottom: 32px;
}
.banner-image{
    width: 100%;
}
/* team and feature related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{
    font-size: 3rem;
    margin-bottom: 24px;
}
.feature-details{
    margin-bottom: 32px;
}
.feature{
    color: #FF900E;
}
.quick-list{
    font-weight: 400;
}
/* responsive media query (small-device) */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 20px;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .nav-item{
        margin-top: 20px;
    }
}
/* responsive media query (medium-device) */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    
}