
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex {
    display: flex;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    margin-bottom: 50px;
    border: none;
    border-radius: 8px;
}
.btn-secondary{
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 25px 30px;
    
}
.btn-title{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}
.btn-details{
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section {
    margin-top: 130px;
}
.section-title{
    font-size: 3rem;
    margin-bottom: 24px;
}
/* header styles */
header{
    /* background-color: blanchedalmond */
}
/* navbar styles */
.navbar{
    justify-content: space-between;
   
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    
}
.nav-item{
    list-style:  none;
    margin-right: 30px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-details{
    margin-bottom: 32px;
}
.banner-image{
    width: 100%;
}
/* team and feature related styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

.section-details{
    margin-bottom: 32px;
}
.feature{
    color: #FF900E;
}
.quick-list{
    font-weight: 400;
}
/* feature section related styles */
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-will-enjoy{
   gap: 140px;
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-card .feature-card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
   
}
/* some fact related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-details{
    margin-bottom: 32px;
    max-width: 540px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-card{
    border: 2px solid #FF900E;
    border-radius: 8px;
    width: 220px;
    height: 220px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* sponsor related styles */
  .sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }
  .sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sponsor-companies img{
    filter: grayscale(100%);
  }
  footer{
    background-color: #FFF4E7;
    max-width: 1440px;
    max-height: 100px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
  }
  .footer-detailes{
    text-align: center;
    align-items: center;
    text-align: center;
  }
/* responsive media query (small-device) */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .our-features, .some-facts{
        margin-left: 20px;
    }
    .team-img-container, .facts-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .nav-item{
        margin-top: 20px;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 24px;
    }
}
/* responsive media query (medium-device) */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .sponsor-companies,  .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 24px;
    }
    .some-fact-div{
        justify-items: center;
    }
}